header {

	background-color: pink;
	padding: 20px;

}

footer {

	background-color: lightblue;
	padding: 20px;

}

#first-header {

	font-style: italic;

}

#first-footer {

	font-style: italic;

}

.nav-bar {

	width: 100%;
	text-align: center;

}

nav a {

	padding-right: 150px;
	padding-left: 150px;

}

h1 {

	text-align: center;

}

#blog-posts {

	text-align: center;

}

form {

	padding: 20px;

}