<!DOCTYPE html>
<html>
	<head>
		<title>About Us</title>

		<link rel="stylesheet" type="text/css" href="/static/css/style.css">

		<meta charset="utf-8" />

	</head>
	<body>
		<header>

			<nav class="nav-bar">

				<a href="index">Home</a>

				<a href="about">About Us</a>

				<a href="contact">Contact Us</a>

			</nav>

		</header>

		<h1>About Us</h1>

		<p>Hi! I’m an undergraduate pursuing a degree in Computer Science at the University of California, Berkeley. I am interested in back-end programming and mobile development, and am always excited to learn new technologies.</p>


		<footer>

			<nav class="nav-bar">

				<a href="index">Home</a>

				<a href="about">About Us</a>

				<a href="contact">Contact Us</a>

			</nav>
		
		</footer>

	</body>
</html>
	
