<!DOCTYPE html>
<html>
	<head>
		<title>Assignment 1 - INFO 253 Web Architecture</title>

		<link rel="stylesheet" type="text/css" href="/static/css/style.css">

		<meta charset="utf-8" />

	</head>
	<body>
		<header id="first-header">

			<nav class="nav-bar">

				<a href="index">Home</a>

				<a href="about">About Us</a>

				<a href="contact">Contact Us</a>

			</nav>

		</header>

		<h1>Omid's Website</h1>

		<div id="blog-posts">

			<p><a href="/blog/8-experiments-in-motivation">8 Experiments in Motivation</a></p>

			<p><a href="blog/a-mindful-shift-of-focus">A Mindful Shift of Focus</a></p>

			<p><a href="blog/how-to-develop-an-awesome-sense-of-direction">How to Develop an Awesome Sense of Direction</a></p>

			<p><a href="blog/training-to-be-a-good-writer">Training to Be a Good Writer</a></p>

			<p><a href="blog/what-productivity-systems-wont-solve">What Productivity Systems Won't Solve</a></p>

		</div>

		<footer id="first-footer">

			<nav class="nav-bar">

				<a href="index">Home</a>

				<a href="about">About Us</a>

				<a href="contact">Contact Us</a>

			</nav>
		
		</footer>

	</body>
</html>
	
